<ion-view>
    <ion-header-bar class="bar-dark" align-title="left">
        <h1 class="title">城市</h1>
        <a class="button icon ion-plus button-icon left-btn" href="#/addCity"></a>
        <button class="button icon ion-android-more-vertical button-icon"></button>
    </ion-header-bar>
    <ion-content>
            <ion-list>
                <ion-item ui-sref='home' data-id={{locationCity.id}}>
                    <span>{{locationCity.cityName}} </span>,
                    <span> {{locationCity.cityProvince}}</span>
                    <i>(定位城市)</i>
                </ion-item>
                <ion-item ng-repeat="list in cityList" ui-sref='home' data-id={{list.id}}>
                    <span>{{list.cityName}} </span>,
                    <span> {{list.cityProvince}}</span>
                </ion-item>
            </ion-list>
    </ion-content>
</ion-view>