<section>
    <div class="row margin-bt">
        <div class="col has-border-bt"><img src={{current.src}} alt=""></div>
        <div class="col-67 text-left">{{current.tq}}</div>
    </div>
    <div class="row">
        <div class="col-33 has-border-rg small-item">
            {{current.qw}}<span>℃</span>
        </div>
        <div class="col-67">
            <div class="float-left">
                <div class="row">风力：</div>
                <div class="row">风向：</div>
                <div class="row">相对湿度：</div>
            </div>
            <div class="float-left">
                <div class="row">{{current.fl}}</div>
                <div class="row">{{current.fx}}</div>
                <div class="row">{{current.sd}}%</div>
            </div>
        </div>
    </div>
</section>