<ion-view view-title='引导页' hide-nav-bar='true'>
    <ion-slide-box>
        <ion-slide class="blue">
            <h2>WEATHER</h2>
            <span class="icon ion-ios-partlysunny"></span>
            <h4>关注天气 安全出行</h4>
        </ion-slide>
        <ion-slide class="green">
            <h2>LOCATION</h2>
            <span class="icon ion-navigate"></span>
            <h4>让关爱没有距离</h4>
        </ion-slide>
        <ion-slide class="pink">
            <h2>PLEASURE</h2>
            <span class="icon ion-happy-outline"></span>
            <h4>好心情从天气开始</h4>
        </ion-slide>
        <ion-slide class="orangered">
            <h1>哈哈哈</h1>
            <img src="img/xin.jpg" alt="小新"><br>
            <a href="#/home" class="button">点我搞起<br>
                <small class="icon ion-ios-paw-outline"></small>  
            </a>
        </ion-slide>
    </ion-slide-box>
</ion-view>